body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.Nav {
    box-shadow: 2px 2px 5px #999;
    
}

.Lista {
    list-style: none;
    display: inline-flex;
    margin-left: 5px;
}

.Lista li {
    padding-right: 10px;
    text-decoration: none;
}
